body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: black;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

b:after {
    content: " - ";
    font-weight: 400;
}

/* Container */

.page {
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
}


/* Parallax */

.parallax {
    width: 100%;
    min-height: 100vh;

    background: url("../images/intro.jpg") center no-repeat;;
    -webkit-background-size: cover;
    background-size: cover;

    background-attachment: fixed;
}


/* Intro */

.intro {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.intro h1 {
    text-align: center;
    font-size: 252px;
    margin: 0 auto;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}


/* Section */

.section {
    padding: 50px 0 0;
    margin-bottom: 0;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;

    text-align: center;
}

.section__title {
    font-size: 36px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto 30px;

    background-color: #f38181;
}

.section__text {
    font-size: 24px;
    padding-bottom: 15px;
}

.section__list {
    width: 100%;
    margin: 0 auto;
    font-size: 24px;
    padding-bottom: 0;
}


/* Card */

.card {
    margin: 40px 0;
    padding: 0;
}

.card__item {
    width: 600px;
    
    padding: 0 auto;
    margin: 0 auto;
}

.card__inner {
    position: relative;
    background-color: #95e1d3;
}

.card__inner:hover {
    cursor: pointer;
}

.card__inner:hover .card__img img {
    filter: none;
    cursor: pointer;
}

.card__img {
    width: 100%;
    height: 300px;
}

.card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    filter: grayscale(1);

    transition: filter .1s linear;
}
  
.card__text {
    text-align: center;
    text-transform: uppercase;
    color: yellow;
    font-size: 40px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-shadow: 1px 0 1px #000, 
        0 1px 1px #000, 
        -1px 0 1px #000, 
        0 -1px 1px #000;
}

.card:last-child {
    margin-bottom: 0;
}


/* Installation */

ul {
    text-align: justify;
    margin-bottom: 0;
}


li::marker {
    color: #f38181;
}

a {
    color: #f38181;
}


/* Screenshots */

.section--gray {
    background-color: #f8f8f8;
    padding-bottom: 40px;
}

.screenshots__item {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.screenshots__photo {
    width: 100%;
    height: auto;
    max-height: 500px;
}


/* Copyright */

.copyright {
    padding: 20px 0;
    margin-top: 50px;

    border-top: 1px solid #e5e5e5;

    font-size: 14px;
    color: #333;
    text-align: center;
}

.copyright span {
    color: #f38181;
}


@media (max-width: 1230px) {
    .container {
        max-width: none;
    }

    .intro h1 {
        font-size: 192px;
    }

    .card {
        margin: 30px 0;
    }

    li {
        font-size: 20px;
    }
}

@media (max-width: 990px) {
    .intro h1 {
        font-size: 128px;
    }

    .section__header {
        max-width: 750px;
    }

    .section__title {
        font-size: 30px;
    }

    ul {
        padding: 0 25px;
        text-align: center;
        list-style: none;
    }

    li {
        font-size: 24px;
        padding-bottom: 30px;
    }

    b:after {
        content: " \a ";
        white-space: pre;
    }

    p {
        padding: 0 25px;
        font-size: 18px;
    }
}

@media (max-width: 770px) {
    .intro h1 {
        font-size: 96px;
    }

    .section__header {
        max-width: none;
    }

    .section__title {
        font-size: 28px;
    }

    .card__item {
        width: 500px;
    }

    li {
        font-size: 24px;
        padding-bottom: 30px;
    }

}

@media (max-width: 575px) {
    .section {
        padding: 25px 0 0;
    }
    
    .section__title {
        font-size: 18px;
    }

    .section__title:after {
        height: 2px;
        margin: 15px auto 15px;
    }

    .section__header {
        max-width: 525px;
    }

    .section--gray {
        padding: 30px 0 5px;
    }

    .intro h1 {
        font-size: 64px;
    }

    .card__item {
        width: 400px;
    }

    .card__text {
        font-size: 28px;
    }

    .card__img {
        height: 200px;
    }

    ul {
        padding: 0 25px;
    }

    li {
        font-size: 16px;
        padding-bottom: 20px;
    }

    p {
        padding: 0 10px;
        font-size: 14px;
    }

    b:after {
        content: " \a ";
        white-space: pre;
    }

    .copyright {
        margin-top: 25px;
        font-size: 10px;
    }
}

@media (max-width: 420px) {
    .section__header {
        max-width: 375px;
    }
    
    .card {
        margin: 20px 0;
    }

    .card__item {
        width: 350px;
    }

    li {
        font-size: 14px;
    }

    p {
        padding: 0 5px;
        font-size: 12px;
    }

}
